.project{
    display: flex;
    flex-wrap: wrap;
    gap: 2em; /*If you change this, change the media query*/
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
}
.textWrapper {
    backdrop-filter: blur(100px) saturate(150%);
    /* background: rgba(255, 255, 255, 0.5); */
    width: 30em; /*If you change this, change the media query*/
    padding: 2em;
    border-radius: 20px;
    box-shadow: black 0px 0px 10px inset;
}
.text{
    color: black;
    font-family: Baskerville, sans-serif;
}
.text p {
    margin: 2rem 0;
    font-size: medium;
    line-height: 150%;
    /* line-height: 2rem; */
}
.text a {
    color:rgb(47, 113, 235);
}
.text p sup { 
    vertical-align: super; 
    line-height: 0;
}
.text p br {
    margin-bottom: 1rem;
}
@media (max-width: 64em) { /*calculate what the max-width needs to be by adding the widths + gap of project children*/
    .textWrapper {
        order: 2;
    }
}